*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-container{



    margin-top: 50px;
    background: gray;
    border: 1px solid black;
border-radius: 5px;
    height:300px;
    width: 400px;
}
form{padding-top: 50px;
        display: flex;
    flex-direction: column;
  
    gap: 15px;
}
form label{
    color: rgb(40, 229, 19);
    margin-left: 20px;
    text-align: left;
}
form input{
    padding-left: 15px;
    height: 25px;
    width: 250px;
 display:inline-block;
 display: flex-box;
margin-left: 21px;
 border-radius: 4px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#regbtn{
    border: none;
    height: 25px;
    font-size:16px;
    background:blue;
    color: white;
    border-radius: 12px;
    width: 200px;
    align-items: center;
}
